# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
source/

# OS/Editor
.vscode/
.DS_Store

# Data & outputs (nicht versionieren)
data/
videos/
outputs/
outputs - Kopie/
results/
*.mp4
*.avi
*.mov
*.mkv

# Models / weights
*.pth
*.pt
*.ckpt

# Logs
*.logdata/
ground_truth_masks/
